body {
    background-color: rgb(174, 225, 255);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 90, 123);
}

section.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;  
}

.studentTable,
.studentTable td {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(16, 7, 99);
    background-color: rgb(235, 255, 248);
    color: rgb(9, 1, 31);
}

#totalAverage {
    text-align: end;
}

.tableHeader {
    text-align: center;
    font-weight: bold;
}

h1 {
    display: block;
    align-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

button {
    background-color: rgb(0, 154, 103);
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(0, 56, 37);
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}

nav a {
    color: aliceblue;
}

input[readonly] {
    background-color: rgb(204, 204, 204);
}